1a

In [3]:
select_day = 'Monday'

user_entry = input('What day of the week is it?') 

if select_day == user_entry:
    print('Today is Monday')
else:
    print('Today is not Monday')

What day of the week is it?monday
Today is not Monday

1b

In [10]:
day = 'Wednesday'
weekend_day = ['Saturday', 'Sunday']

user_entry = input('What day is it: ')

if user_entry == day:
    print('Today is ' + day)
elif user_entry in weekend_day:
    print('It is the weekend!')
else:
    print(f'It is not {day} or the weekend')

What day is it: Tuesday
It is not Wednesday or the weekend

1c

In [14]:
base_hours = 40
hours_worked = 45
over_hours = hours_worked - base_hours
rate = 25
over_rate = 1.5

if hours_worked <= base_hours:
    paycheck = hours_worked * rate
    print('No Overtime')
else:
    paycheck = (base_hours * rate) + (over_hours * over_rate)
    print('With Overtime')
    
print(paycheck)

With Overtime
1007.5

2a: 5 to 15, by 5

In [16]:
i = 5

while i <= 15:
    print(i)
    i += 1

5
6
7
8
9
10
11
12
13
14
15

2a: 2 to 100, by 2

In [17]:
i = 2

while i <= 100:
    print(i)
    i += 2

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

2a: 100 to -10

In [19]:
i = 100

while i >= -10:
    print(i)
    i -= 5

100
95
90
85
80
75
70
65
60
55
50
45
40
35
30
25
20
15
10
5
0
-5
-10

2a: 2 to 1mil, number squared

In [40]:
i = 2

while i < 1000000:
    print(i)
    i *= i

2
4
16
256
65536

2a: 100 to 5, by 5

In [41]:
i = 100

while i >= 5:
    print(i)
    i -= 5

100
95
90
85
80
75
70
65
60
55
50
45
40
35
30
25
20
15
10
5

2b i.

In [60]:
number = input('Number: ')
i = 1

for count in range(1, 11):
    print(number, 'x', i, '=', int(number)*i)
    i += 1

Number: 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

2b ii.

In [58]:
for number in range(1, 10):
    print(str(number)*number)

1
22
333
4444
55555
666666
7777777
88888888
999999999

2b iii.

In [154]:
#CREATED VARIABLE FOR user_entry (THIS IS A STRING)
user_entry = input('Enter an odd number between 1 and 50: ')

#CREATE VARIABLE TRANSFORMING user_entry FROM STRING TO INTEGER
# user_entry_as_number = int(user_entry)

#TESTED TO MAKE SURE user_entry IS A NUMBER
while user_entry.isdigit() != True:
    print(f'{user_entry} is not a number')
    user_entry = input('Enter an odd number between 1 and 50: ')

#TEST TO MAKE SURE user_entry IS ODD
while int(user_entry) % 2 == 0:
    print(f'{user_entry} is not an add number')
    user_entry = input('Enter an odd number between 1 and 50: ')

#PRINT ODD RANGE OF NUMBERS BETWEEN 1 AND 50
number = int(user_entry)
print(f'Number to skip is {number}\n')

for i in range(1, 51, 2):
    if i == number:
        print(f'Yikes! Skipping number {number}')
        continue
    else:
        print(i)
        i += 2

Enter an odd number between 1 and 50: 5
Number to skip is 5

1
3
Yikes! Skipping number 5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49