1a

In [3]:
select_day = 'Monday'

user_entry = input('What day of the week is it?') 

if select_day == user_entry:
    print('Today is Monday')
else:
    print('Today is not Monday')

What day of the week is it?monday
Today is not Monday

1b

In [10]:
day = 'Wednesday'
weekend_day = ['Saturday', 'Sunday']

user_entry = input('What day is it: ')

if user_entry == day:
    print('Today is ' + day)
elif user_entry in weekend_day:
    print('It is the weekend!')
else:
    print(f'It is not {day} or the weekend')

What day is it: Tuesday
It is not Wednesday or the weekend

1c

In [14]:
base_hours = 40
hours_worked = 45
over_hours = hours_worked - base_hours
rate = 25
over_rate = 1.5

if hours_worked <= base_hours:
    paycheck = hours_worked * rate
    print('No Overtime')
else:
    paycheck = (base_hours * rate) + (over_hours * over_rate)
    print('With Overtime')
    
print(paycheck)

With Overtime
1007.5

2a: 5 to 15, by 5

In [16]:
i = 5

while i <= 15:
    print(i)
    i += 1

5
6
7
8
9
10
11
12
13
14
15

2a: 2 to 100, by 2

In [17]:
i = 2

while i <= 100:
    print(i)
    i += 2

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

2a: 100 to -10

In [19]:
i = 100

while i >= -10:
    print(i)
    i -= 5

100
95
90
85
80
75
70
65
60
55
50
45
40
35
30
25
20
15
10
5
0
-5
-10

2a: 2 to 1mil, number squared

In [40]:
i = 2

while i < 1000000:
    print(i)
    i *= i

2
4
16
256
65536

2a: 100 to 5, by 5

In [41]:
i = 100

while i >= 5:
    print(i)
    i -= 5

100
95
90
85
80
75
70
65
60
55
50
45
40
35
30
25
20
15
10
5

2b i.

In [60]:
number = input('Number: ')
i = 1

for count in range(1, 11):
    print(number, 'x', i, '=', int(number)*i)
    i += 1

Number: 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

2b ii.

In [58]:
for number in range(1, 10):
    print(str(number)*number)

1
22
333
4444
55555
666666
7777777
88888888
999999999

2c i.

In [154]:
#CREATED VARIABLE FOR user_entry (THIS IS A STRING)
user_entry = input('Enter an odd number between 1 and 50: ')

#CREATE VARIABLE TRANSFORMING user_entry FROM STRING TO INTEGER
# user_entry_as_number = int(user_entry)

#TESTED TO MAKE SURE user_entry IS A NUMBER
while user_entry.isdigit() != True:
    print(f'{user_entry} is not a number')
    user_entry = input('Enter an odd number between 1 and 50: ')

#TEST TO MAKE SURE user_entry IS ODD
while int(user_entry) % 2 == 0:
    print(f'{user_entry} is not an add number')
    user_entry = input('Enter an odd number between 1 and 50: ')

#PRINT ODD RANGE OF NUMBERS BETWEEN 1 AND 50
number = int(user_entry)
print(f'Number to skip is {number}\n')

for i in range(1, 51, 2):
    if i == number:
        print(f'Yikes! Skipping number {number}')
        continue
    else:
        print(i)
        i += 2

Enter an odd number between 1 and 50: 5
Number to skip is 5

1
3
Yikes! Skipping number 5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

2d

In [29]:
#prompt user to input a positive number
user_input = input('Enter a positive number: ')
print()

#test to make sure user entered positive number
while user_input.isdigit() != True:
    print('Your entry is not a positive number')
    user_input = input('Enter a positive number: ')
    print()

#create a loop that from 0 to that number
    #the input will return a string that will need to be converted to a number
for i in range(0, (int(user_input)+1)):
    print(i)
    i += 1

Enter a positive number: 5

0
1
2
3
4
5

2e.

In [52]:
#prompt user for a positive integer
user_input = input('Input a positive integer: ')
print()

#check to make sure number entered is a positive integer
while user_input.isdigit() != True:
    print('This is not a positive integer.')
    user_input = input('Input a positive integer: ')
    print()
    
#create a loop that prints the numbers from the number the user entered down to 1
number = (int(user_input)+1)
for i in range(number, 0, -1):
    print(i -1)
    i -= 1

Input a positive integer: a

This is not a positive integer.
Input a positive integer: -5

This is not a positive integer.
Input a positive integer: 5

5
4
3
2
1
0

# 3. Fizzbuzz

.

In [58]:
for i in range(1, 101):
    if i % 3 == 0 and i % 5 == 0:
        print('FizzBuzz')
        continue
    #for multiples of 3 print 'Fizz'
    if i % 3 == 0:
        print('Fizz')
        continue
    #for multiples of 5 print 'Buzzz'
    if i % 5 == 0:
        print('Buzz')
        continue
    print(i)
    i += 1

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

# 4. Table of Powers

In [92]:
#prompt user to enter an integer

user_input = input('Enter an integer: ')

#display a table of squares and cubes from 1 to the user_input
    #create squares_list using for loop to return squares from 1 to the user_input
squares_list = []
for i in range(1, (int(user_input) + 1)):
    squares_list.append(i**2)
    i += 1
print(squares_list)
    

    #create cubes_list using for loop to return cubes from 1 to user_input
cubes_list = []
for i in range(1, (int(user_input) + 1)):
    cubes_list.append(i**3)
    i += 1
print(cubes_list)
    
    #format into a table (need to switch row/column headers and table data)
import pandas 
pandas.DataFrame(user_input, squares_list, cubes_list)

Enter an integer: 3
[1, 4, 9]
[1, 8, 27]

  1  8  27
1  3  3  3
4  3  3  3
9  3  3  3

# 5. Converting Number Grades into Letter Grades

(could not get the loop to continue after 2nd continue)

In [ ]:
#prompt user for numerical grade from 0 to 100
user_input = input('Enter the numerical grade: ')

#convert input from str to int type
num_grade = int(user_input)

#display corresponding letter grade
for i in range(0, 101):
    if num_grade <= 100 and num_grade >= 88:
        print('A')
        break
    if num_grade <= 87 and num_grade >= 80:
        print('B')
        break
    if num_grade <= 79 and num_grade >= 67:
        print('C')
        break
    if num_grade <= 66 and num_grade >= 60:
        print('D')
        break
    if num_grade <= 59 and num_grade >= 0:
        print('F')
        break

    
#prompt user to continue
user_cont = input('Continue? ')
while user_cont == 'yes':
    user_input = input('Enter the numerical grade: ')
    for i in range(0, 101):
        if num_grade <= 100 and num_grade >= 88:
            print('A')
            user_cont = input('Continue? ')
        

while user_cont == 'no':
    print('Have a nice day :)')
    break

#prompt user to continue (application should only continue if user agrees to)

Enter the numerical grade: 100
A
Continue? yes
Enter the numerical grade: 100
A